<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title> DBP </title>
        <style>
            .completed {
                text-decoration: line-through;
            }
        </style>
    </head>

    <body>
        <p> Computer Science </p>
        <h1> Tasks </h1>

        <form id="new-task">
            <input id="task" autocomplete="off" autofocus placeholder="" type="text"> <!-- Vacio -->
            <input type="submit" value="Add Todo"> <!-- Add Todo -->
            <br> <br>
            <input type="button" value="Complete All" id="complete-all"> <!-- Boton Complete All -->
        </form>

        <ol id="tasks">
        </ol>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#new-task').onsubmit = () => {
            const cb = document.createElement("INPUT");
            cb.setAttribute("type", "checkbox");

            const li = document.createElement('li');
            li.appendChild(cb);
            // li.innerHTML += document.querySelector('#task').value;


            const taskText = document.querySelector('#task').value;
            const taskContent = document.createElement('span');
            taskContent.innerText = taskText;
            li.appendChild(taskContent);

            const deleteButton = document.createElement('input');
            deleteButton.setAttribute("type", "checkbox");
            deleteButton.setAttribute("id", "delete");
            deleteButton.addEventListener('change', () => {
                if (deleteButton.checked) {
                    li.remove();
                }
            });
            li.appendChild(deleteButton);

            cb.addEventListener('change', () => {
            if (cb.checked) {
                taskContent.classList.add('completed');
            } else {
                taskContent.classList.remove('completed');
            }
            });

            document.querySelector('#complete-all').onclick = () => {
            const checkboxes = document.querySelectorAll('#tasks li input[type="checkbox"]:not([id="delete"])');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = true;
                checkbox.dispatchEvent(new Event('change'));
            });
            };

            document.querySelector('#tasks').append(li);
            document.querySelector('#task').value = '';
            
            return false;
        };

    });    
</script>
